{% extends "wrapper.html" %}
{% block nar %}
{% load staticfiles %}
<div class="main">
    <div class="content5">
        <div style="padding: 5%">

        <p>Контакти</p>
<p>ТОВ "ІНФОРМТЕХНОЛОГІЯ" - провідна компанія, що розробляє інноваційні правові системи під торговельною маркою НаУ®. Головними напрямками діяльності є забезпечення актуальною нормативно-правовою інформацією державних підприємств та відомств, великих компаній; надання послуг сервісного обслуговування у сфері комп'ютерного правого забезпечення.</p>

<pre>Україна, 04071, м. Київ, Ярославський провулок, 7/9, офіс 7
Тел./факс: +380(44) 467-68-49 (багатоканальний)
Режим роботи: з 9-00 до 17-00 по робочих днях (перерва з 13-00 до 14-00)
E-mail:

договори з органами державної влади; корпоративні договора:
nau_corporate@ukr.net
представництво в регіонах та розповсюдження продукції НАУ:
    nau_region@ukr.net</pre>
        <p>Головний сервісний центр ТОВ "Системи НАУ" здійснює поставку та супровід правових систем НаУ. Висококваліфіковані спеціалісти "Систем НАУ" завжди готові допомогти Вам у виборі потрібної системи, а також відповісти на всі питання, що виникають у процесі роботи з НаУ.</p>

<pre>Україна, 04071, м. Вінниця, 7/9, офіс 7
Тел./моб.: +380(98) 665-88-93
Тел./факс: +380(44) 467-68-04 (багатоканальний)
Режим роботи: з 9-00 до 17-00 по робочих днях (перерва з 13-00 до 14-00)</pre>
        </div>
    </div>
</div>
{% endblock %}