{% extends "wrapper.html" %}
{% block nar %}
{% load staticfiles %}
<div class="main">
    <div class="content5" style="padding: 5%">
        <div class="gl-wrap g-article">

<p>Розробляти та публікувати свої веб-застосунки для «Бітрікс24» у каталозі можуть партнери «Бітрікс24». Якщо ви плануєте розробити веб-застосунок для сервісу, вам потрібно пройти ці кілька кроків:</p>

<ol>
  <li index="1" style="padding-left: 24px;"> 				Стати партнером «Бітрікс24».
    <br>
   <a href="http://partners.bitrix.ua/program/become/" target="blanc">Заповнити анкету на партнерство</a></li>

  <li index="2" style="padding-left: 24px;"> 				Отримати статус сертифікованого партнера по «Бітрікс24». </li>

  <li index="3" style="padding-left: 24px;"> 			 Вивчити  <a href="https://dev.1c-bitrix.ru/rest_help/" target="dev" alt="Довідковий опис методів" title="Довідковий опис методів">документацію з API</a> та <a href="https://dev.1c-bitrix.ru/learning/course/index.php?COURSE_ID=43&amp;CHAPTER_ID=05377" target="dev" alt="Навчальний курс 'Маркетплейс Бітрікс24'" title="Навчальний курс 'Маркетплейс Бітрікс24'">відомості про розробку застосунків</a>. </li>

  <li index="4" style="padding-left: 24px;">Зареєструвати майбутній застосунок або модуль для отримання доступу до API. </li>
 		 </ol>

<h2 class="bigTitle">У вас вже є ідеї для веб-застосунків? </h2>
Ви готові реалізувати свої ідеї для веб-застосунків? Поділіться з нами, ми допоможемо запустити їх у розробку!
<br><br>
Використовуйте своє рішення «Бітрікс24» для тестування, а як будете готові, відправляйте для публікації в каталог! <p></p><br>
 <div class="x-button js-style e-more m-blue-border m-arrow"><a target="dev" class="js-style e-more m-blue-border m-arrow" href="https://dev.1c-bitrix.ru/docs/bitriks24.php#tab-online-link">Документація з API «Бітрікс24»</a><span class="e-title">Документація з API «Бітрікс24»</span></div> &nbsp;&nbsp; <div class="x-button js-style e-more m-blue-border m-arrow"><a target="academy" class="js-style e-more m-blue-border m-arrow" href="http://academy.1c-bitrix.ru/certification/#tab-training-link">Сертифікація розробників </a><span class="e-title">Сертифікація розробників </span></div>
<br>

<br>
Документація для розробників - це опис REST API системи. Крім цього буде корисно познайомитися з основними відомостями з розробки застосунків.
 </div>
           </div>
</div>
{% endblock %}