{% extends "wrapper.html" %}
{% block nar %}
{% load staticfiles %}
<div class="main">
    <div class="content5" style="padding: 5%">
        <div class="info_page h-info h-info_rules">
    <h2>Правила сайта</h2>
    <p style="margin: 0; padding: 0; font-size:15px"><i>Последнее редактирование&nbsp;— 22 января 2019 года.</i></p>

    <p style="margin: 0; padding: 0; font-size:15px">Обычно IT-специалисты и&nbsp;интересующиеся данной сферой&nbsp;— это люди культурные, уважающие не&nbsp;только себя, но&nbsp;и&nbsp;собеседников и&nbsp;читателей. Для того чтобы ресурс оставался площадкой для общения таких людей, существуют правила, за&nbsp;нарушение которых модераторы могут понизить права аккаунта до&nbsp;ReadOnly.</p>

    <h2 >Вот список того, чего на&nbsp;ресурсе делать не&nbsp;следует</h2>

    <ul>
      <li>
        <h3>Рекламировать ресурсы в&nbsp;обход правил</h3>
        <p style="margin: 0; padding: 0; font-size:15px">Для привлечения внимания к&nbsp;проектам, компаниям, коммерческим продуктам, услугам, сервисам и&nbsp;мероприятиям предназначены <a href="https://tmtm.ru/services/corpblog/">корпоративные блоги</a> и&nbsp;хаб «Я&nbsp;пиарюсь». Попытки поместить их&nbsp;упоминания вне указанных разделов повлекут за&nbsp;собой понижение прав аккаунта.<br><br></p>
        <p style="margin: 0; padding: 0; font-size:15px">Исключение составляют упоминания авторами своей должности в&nbsp;компании (без указания ссылки на&nbsp;сайт компании), своих контактных данных (включая адреса персональных аккаунтов в&nbsp;соцсетях), своих персональных блогов на&nbsp;крупных медиа-ресурсах (LJ, Medium и&nbsp;др.). Допускается упоминание профильных youtube-каналов, чатрумов и&nbsp;групп в&nbsp;соцсетях, не&nbsp;носящих названия проекта, компании, продукта, услуги, сервиса или мероприятия.</p>
      </li>
      <li>
        <h3>Заниматься плагиатом</h3>
        <p style="margin: 0; padding: 0; font-size:15px">Не&nbsp;следует копировать на&nbsp;«Хабр» тексты, опубликованные другими людьми на&nbsp;других ресурсах, но&nbsp;можно копировать собственные тексты, если они не&nbsp;нарушают правила ресурса.</p>
      </li>
      <li>
        <h3>Путать сайт с&nbsp;Твиттером</h3>
        <p style="margin: 0; padding: 0; font-size:15px">Односложные публикации вида «Смотрите, какую я&nbsp;нашел ссылку», «Chrome обновился, вот тут чейнджлог» и&nbsp;подобное не&nbsp;приветствуются. Даже если новость изначально короткая, постарайтесь сопроводить её&nbsp;развёрнутым комментарием.</p>
      </li>
    </ul>

    <p>Список нарушений остаётся открытым, потому что всегда можно придумать что-то, не&nbsp;описанное выше. В&nbsp;таких случаях модераторы руководствуются здравым смыслом и&nbsp;собственным чувством прекрасного. Обсуждать их&nbsp;решения и&nbsp;создавать на&nbsp;эту темы агитационные публикации не&nbsp;стоит&nbsp;— если они кого-то забанили, значит, у&nbsp;них была довольно веская причина.</p>

    <p>Как видите, ничего сложного в&nbsp;правилах нет, и&nbsp;мы&nbsp;будем признательны, если вы&nbsp;будете их&nbsp;соблюдать.</p>
  </div>
         </div>
</div>
{% endblock %}